Data Science Fundamentals: Python |
[Table of Contents](../index.ipynb)
- - - 
<!--NAVIGATION-->
Module 11. | 
[Introduction to Matplotlib](./01-Introduction-To-Matplotlib.ipynb) |
[Simple Line Plots](./02-Simple-Line-Plots.ipynb) |
[Simple Scatter Plots](./03-Simple-Scatter-Plots.ipynb) |
[Errorbars](./04-Errorbars.ipynb) |
[Density Contour Plots](./05-Density-and-Contour-Plots.ipynb) |
[Histogram Binnings](./06-Histograms-and-Binnings.ipynb) |
[Customizing Legends](./07-Customizing-Legends.ipynb) |
[Customizing Colorbars](./08-Customizing-Colorbars.ipynb) |
[Multiple Subplots](./09-Multiple-Subplots.ipynb) |
[Text And Annotations](./10-Text-and-Annotation.ipynb) |
[Customizing Ticks](./11-Customizing-Ticks.ipynb) |
[Settings And Stylesheets](./12-Settings-and-Stylesheets.ipynb) |
[3D Plotting](./13-Three-Dimensional-Plotting.ipynb) |
[Geographic Data with Basemap](./14-Geographic-Data-With-Basemap.ipynb) |
[Seaborn](./15-Visualization-With-Seaborn.ipynb)

- - -

[Tutorials](./16-Tutorials.ipynb)

- - -

**[Exercises](./17-Exercises.ipynb)**

# Exercises

Use the data saved at ```./data/company_sales_data.csv``` to use for all exercises.

### Exercise 1. 

Read Total profit of all months and show it using a line plot

Total profit data provided for each month. Generated line plot must include the following properties:

1. X label name = Month Number
2. Y label name = Total profit

In [5]:
# Exercise 1

import pandas as pd

company_sales = pd.read_csv("data/company_sales_data.csv")
# company_sales.describe()
company_sales

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600
5,6,2760,1555,4890,7490,1890,1555,20140,201400
6,7,2980,1120,4780,8980,1780,1120,29550,295500
7,8,3700,1400,5860,9960,2860,1400,36140,361400
8,9,3540,1780,6100,8100,2100,1780,23400,234000
9,10,1990,1890,8300,10300,2300,1890,26670,266700
10,11,2340,2100,7300,13300,2400,2100,41280,412800
11,12,2900,1760,7400,14400,1800,1760,30020,300200

### Exercise 2. 

Get Total profit of all months and show line plot with the following Style properties

Generated line plot must include following Style properties:

1. Line Style dotted and Line-color should be red
2. Show legend at the lower right location.
3. X label name = Month Number
4. Y label name = Sold units number
5. Add a circle marker.
6. Line marker color as read
7. Line width should be 3

In [ ]:
# Exercise 2

### Exercise 3.

Read all product sales data and show it using a multiline plot

Display the number of units sold per month for each product using multiline plots. (i.e., Separate Plotline for each product ).

In [ ]:
# Exercise 3

### Exercise 4.

Read toothpaste sales data of each month and show it using a scatter plot

Also, add a grid in the plot. gridline style should “–“.

In [ ]:
# Exercise 4

### Exercise 5.

Read face cream and face wash product sales data and show it using the bar chart

The bar chart should display the number of units sold per month for each product. Add a separate bar for each product in the same chart.

In [ ]:
# Exercise 5